.block1 img{
  width: 150px;
  height: 150px;
}
.block1 {
background-color: red;
color: honeydew;

padding: 25px;
}



.block2 img{
  width: 150px;
  height: 150px;

}
.block2 {
background-color: gold;
color: darkorange;

padding: 25px;
}

.block3 img{
  width: 150px;
  height: 200px;

}
.block3 {
background-color:green;
color: black;

padding: 25px;
}

.block4 img{
  width: 40px;
  height: 25px;
}

#facebook{
  width: 30px;
  height:20px ;
}
#instagram{
  width: 30px;
  height:20px ;
}

#LinkedIN{
  width: 30px;
  height:20px ;
}

.block{
  border: 6px double black;
}

.text-center {

text-align: center;
}

