p{
    display:block;
}
span{
    display: inline-block;
    border: 1px solid black;
    border: blue;
}

.block1{
    width: 300px;
    height: 200px;
    justify-content: space-around;
}
.container{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;

}